{% extends "base.html" %}
{% from "form_macros.html" import render_field %}



{% block title %}
FYP -- Add share
{% endblock %}

{% block content %}

<section>
    <h1>Add a new share to your portfolio</h1>
    <h4 style="color:red;">Don't put in an invalid ticker or you will mess shit up, I will add validation later <br>
    "FCX", "BAC", "GSK" are valid tickers you can use
    </h4>
    <br>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <table>
            {{ render_field(form.ticker, size=20) }}
            {{ render_field(form.quantity, size=20) }}
            {{ render_field(form.dividends, size=20) }}
            {{ render_field(form.portfolioid, class="chosen dropdown", size=260) }}



            <tr class="submit">
                <td></td>
                <td><button type="submit">Submit</button>
                </td>
            </tr>
        </table>

    </form>

</section>


{% endblock %}

{% block sidebar %}

{% endblock %}

