{% extends "base.html" %}

{% block title %}
Thermos -- Welcome -- Test
{% endblock %}

{% block content %}
<article>


    <header>
        <h1>Welcome {{ current_user.username }} </h1>
        <p>Your share portfolio</p>
    </header>

    <section>

        {% if shares %}

        <h2>You own the following shares</h2>

        {% for share in shares %}

            <li>
                Ticker: {{share.ticker}}<br>
                Name: {{share.name.name}}<br>
                Quantity: {{share.quantity}}</li>

        {% endfor %}

            {% endif %}



    </section>

    <section>
        <h2>article section h2</h2>
        <p>Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. </p>
    </section>
    <section><h2>article section h2</h2>
    <p>Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor.
    </p>
    </section>

</article>

{% endblock %}