{% extends "base.html" %}

{% block title %}
Thermos -- Welcome -- Test
{% endblock %}

{% block content %}
<article>


    <header>
        <h1>Welcome {{ current_user.username }} </h1>
        <p>Thermos is a simple bookmarking site</p>
    </header>

    <section>
        <h2>Recently Added</h2>


    </section>

    <section>
        <h2>article section h2</h2>
        <p>Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. </p>
    </section>
    <section><h2>article section h2</h2>
    <p>Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor. Lorem ipsum dolor.
    </p>
    </section>

</article>

{% endblock %}