{% extends "base.html" %}

{%  block content %}

{% if portfoliovalue %}

<div class="container-fluid">


    <h1>{{ id | capitalize  }}</h1>

    <table class="share" width=100% >
        <tr>
            <th>Portfolio value: £{{portfoliovalue['portfoliovalue']}}</th>
            <th>Total share value: £{{portfoliovalue['sharevalue']}}</th>
            <th>Dividend value: £{{portfoliovalue['dividends']}}</th>
        </tr>
    </table>

    <br>

    <table class="share">
        <tr>
            <th>Name</th>
            <th>Ticker</th>
            <th>Share value</th>
            <th>Quantity</th>
            <th>Dividends</th>
            <th>Total share value</th>
            <th>Profit/loss</th>
            <th> Edit </th>

        </tr>

        {% for share in portfolioshares  %}

        {% set totalprice = share['price'] | float * share['quantity'] %}

        <tr>
            <td> {{share['name']}} </td>
            <td> {{share['symbol']}} </td>
            <td> £{{share['price']}} </td>
            <td> {{share['quantity']}} </td>
            <td> {{share['dividends']}} </td>
            <td> £{{totalprice}}</td>

            {% if  share['profit'] | float < 0 %}

            <td class="loss"> {{share['profit']}}</td>

            {% else %}

            <td class="profit"> £{{share['profit']}} </td>

            {% endif %}



            <td>
               <a href="{{url_for('addadditionalshares', share_id=share.id)}}"> <span class="glyphicon glyphicon-plus-sign glyph" aria-hidden="true"></span> </a>
                <a href="{{ url_for('sell_share', share_id=share.id) }}"><span class="glyphicon glyphicon-minus-sign glyph" aria-hidden="true"></span> </a>
                <a href="{{url_for('delete_share', share_id=share.id) }}">  <span class="glyphicon glyphicon-remove-sign glyph" aria-hidden="true"></span> </a>
            </td>

        </tr>

        {% endfor%}
    </table>

</div>

{% endif %}

</div>

{% endblock %}


