
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% if data %}


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Portfolio value</h3>
                </div>

                 <ul class="list-group">

                        <span class="price">

                        <li class="list-group-item"> £{{data['portfoliovalue']}}</li>

                        </span>

                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Total share value </h3>
                </div>

                <ul class="list-group">

                        <span class="price">

                        <li class="list-group-item">£{{data['sharevalue']}}</li>

                        </span>

                </ul>

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Dividend value</h3>
                </div>
              <ul class="list-group">

                        <span class="price">

                        <li class="list-group-item">£{{data['dividends']}}</li>

                        </span>

                </ul>

            </div>
        </div>
    </div>


{% endif %}


</body>
</html>