{% extends "base.html" %}

{%  block content %}

{% if portfoliovalue %}

<div class="container-fluid">


    <h1>{{ id | capitalize  }}</h1>

    <table class="share" width=100% >
        <tr>
            <th>Portfolio value: £{{portfoliovalue['portfoliovalue']}}</th>
            <th>Total share value: £{{portfoliovalue['sharevalue']}}</th>
            <th>Dividend value: £{{portfoliovalue['dividends']}}</th>
        </tr>
    </table>

    <br>

    <table class="share">
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Share value </th>
            <th>Quantity</th>
            <th>Dividends</th>
            <th>Profit/loss</th>
            <th>Edit</th>
        </tr>

        {% for share in portfolioshares  %}

        <tr>
            <td>{{share.symbol}}</td>
            <td>{{share.name}}</td>
            <td>{{share['price']}} </td>
            <td>{{share['quantity']}}</td>
            <td> {{share['dividends']}} </td>
            <td></td>
            <td><a href="{{ url_for('edit_share', bookmark_id=share.id) }}"> edit </a></td>
        </tr>

        {% endfor%}
    </table>

</div>

{% endif %}

</div>

{% endblock %}


