
{% if data %}


{% for id in portfoliovalues %}

<h2>    <a href="{{ url_for('list_portfolio', portfolio_id =id) }}"> {{ id }} </a> </h2>


<table class="share">
    <caption>Portfolio details</caption>
    <th> Portfolio value  </th>
    <th> Total share value  </th>
    <th> Dividend value  </th>

    <tr>
        <td> {{portfoliovalues[id]['portfoliovalue'] }}  </td>
        <td> {{portfoliovalues[id]['sharevalue'] }}  </td>
        <td> {{portfoliovalues[id]['dividends'] }} </td>


    </tr>

</table>


<table class="share">
    <caption>Share details</caption>
    <tr>
        <th>Name</th>
        <th>Share value</th>
        <th>Quantity</th>
        <th>Dividends</th>
        <th>Total share value</th>
        <th>Profit/loss</th>
    </tr>
    {% set count = 0 %}
    {% for share in data if not count > 2 %}



    {% if share.portfolioid == id %}

    {% set price = share['price'] | float * share['quantity'] %}

    <tr>
        <td> {{share['name']}} </td>
        <td> {{share['price']}} </td>
        <td> {{share['quantity']}} </td>
        <td> {{share['dividends']}} </td>
        <td>{{price}}</td>
        <td> </td>
    </tr>
    {% set count = count + 1 %}


    {% endif %}

    {% endfor %}
</table>
<a href="{{ url_for('list_portfolio', portfolio_id =id) }}"> View all shares in portfolio </a>

{% endfor %}


{% endif %}

