
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    {% if data %}


        <h2>You own the following shares</h2>

        {% for share in data %}



                <hr>

                {{share.name}}<br>
                Ticker: {{share.symbol}}<br>
                Quantity: {{share['quantity']}} <br>
                Price: {{share['price']}} <br>
                <span class="editlinks">
                    <a href="{{ url_for('edit_share', bookmark_id=share.id) }}"> edit </a>
                </span>

        {% endfor %}

            {% endif %}




</body>
</html>