
{% if data %}


{% for id in portfoliovalues %}

<h2>    <a href="{{ url_for('list_portfolio', portfolio_id =id) }}"> {{ id }} </a> </h2>


<table class="share">
    <caption>Portfolio details</caption>
    <th> Portfolio value  </th>
    <th> Total share value  </th>
    <th> Dividend value  </th>

    <tr>
        <td> {{portfoliovalues[id]['portfoliovalue'] }}  </td>
        <td> {{portfoliovalues[id]['sharevalue'] }}  </td>
        <td> {{portfoliovalues[id]['dividends'] }} </td>


    </tr>

</table>


<table class="share">
    <caption>Share details</caption>
    <th>Name</th>
    <th>Ticker</th>
    <th>Share value</th>
    <th>Quantity</th>
    <th>Dividends</th>
    <th>Total share value</th>
    <th>Profit/loss</th>
    <th> Add </th>
    <th>Edit</th>
    <th>Delete</th>



    {% for share in data %}

        {% if share.portfolioid == id %}

    <tr>
        <td> {{share['name']}} </td>
        <td> {{share['symbol']}} </td>
        <td> {{share['price']}} </td>
        <td> {{share['quantity']}} </td>
        <td> {{share['dividends']}} </td>
        <td></td>
        <td></td>
        <td> <a href="{{ url_for('edit_share', bookmark_id=share.id) }}"> add  </a> </td>
        <td> <a href="{{ url_for('edit_share', bookmark_id=share.id) }}"> edit </a> </td>
        <td> <a href="{{url_for('delete_share', bookmark_id=share.id) }}"> delete </a> </td>
    </tr>


        {% endif%}

    {% endfor %}
</table>


{% endfor %}


{% endif %}

