.dropdown{
    width: 175px;
    color: red
}


/*custom styles*/

.tweaked-margin {
    margin-right: 10px;
}


#flashes {

    background: #c9ddee ;
}

.portfolio {
    color: red
}

.portfolio a {
    color: red
}


.share tr:nth-child(odd)		{ background-color:#eee; }
.share tr:nth-child(even)		{ background-color:#fff; }

.share td {
    padding: 5px;
}

.share th {
    padding: 5px;
}

.portfolioshares{
    border: 1px dashed lightgrey;
}