

#notvisited{

    text-decoration: none;
    color: white;

}

#news2{

    padding-top: 75px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}

#result{

    margin-bottom: 00px;

}


.submit2{
    border-radius: 5px;
    background-color: #4CAF50;
    width: 100%;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.submit2:hover{

    background-color: #449D48;
}

.submit3{
    border-radius: 5px;
    background-color: red;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.submit4{
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.width20 {
    width: 70px;
}

.buttons { display: inline;
}

ul
{
    list-style-type: none;
}

.error{
    list-style-type: none;
}

.red{
    color: red
}

.glyph {
    color: black;
    font-size: 17px;
}

.loss {
    color: red;
}


.profit{
    color: green;
}

.dropdown{
    width: 175px;
    color: red
}


/*custom styles*/

.tweaked-margin {
    margin-right: 10px;
}


#flashes {
    background: #c9ddee ;
}

.portfolio {
    color: red
}

.portfolio a {
    color: red
}


.share tr:nth-child(odd)		{ background-color:#eee; }
.share tr:nth-child(even)		{ background-color:#fff; }

.share td {
    padding: 5px;
}


.share th {
    padding: 5px;
    padding-right: 0px;
}

.portfolioshares{
    border: 1px dashed lightgrey;
}